html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  img,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  b,
  u,
  i,
  center,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td,
  article,
  aside,
  canvas,
  details,
  embed,
  figure,
  figcaption,
  footer,
  header,
  hgroup,
  menu,
  nav,
  output,
  ruby,
  section,
  summary,
  time,
  mark,
  audio,
  video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  menu,
  nav,
  section {
    display: block;
  }
  body {
    line-height: 1;
  }
  ol,
  ul {
    list-style: none;
  }
  blockquote,
  q {
    quotes: none;
  }
  blockquote:before,
  blockquote:after,
  q:before,
  q:after {
    content: '';
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }


  /* GLOBAL */

  :root {
    font-family: Arial, Helvetica, sans-serif;
  }

  * {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
  }

  #root {
    display: flex;
    flex-direction: column;
  }

  img {
    display: block;
  }

  p, a {
    line-height: 1.5rem;
  }

  a, button {
    cursor: pointer;
  }
  a:link, a:visited, a:active {
    text-decoration:none;
}
---------------------------

:root {
  --primary: white;
  --accent1: '#57f7E0';
  --accent2: '#22BBFF';
  --accent3: '#C400FF';
  --secondary: '#8DA9C4';
  --terciary: '#13315C';
  --terciary_lighter: '#134074';
  --accent_red: '#FF3B4B';
  --background: '#001538';
  --light_background: '#eef4ed';
  --failure: '#EB4C25';
  --success: '#71c55b';

}

a {
  font-weight: 500;
  color: white;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


.loginLogo {
  max-width: 20rem;
  max-height: 20rem;
}
.login {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 40rem;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.loginForm {
  
  gap: 1rem;
}
